// IMPORTING CAROUSEL LIBRARY

// Required Core Stylesheet
@import "../../../node_modules/@glidejs/glide/src/assets/sass/glide.core";

/*
@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.core";
*/

// Optional Theme Stylesheet
@import "../../../node_modules/@glidejs/glide/src/assets/sass/glide.theme";

// IMPORTING FONTS
@import url('https://fonts.cdnfonts.com/css/menulis');
  @import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
  display: flex;

}

.navegador {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;

  li {
    list-style-type: none;
  }

  .input-group {
    padding: 0;
    margin: 0;
  }

  li > a {
    text-decoration: none;
    font-family: 'Livvic';
    font-weight: bold;
    color: #1a1a1aff;
    animation-duration: 0.2s;
  }

  .nav-link {
    color: #1a1a1aff;
    animation-duration: 0.2s;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .nav-link:hover {
    color: #f9f9f9ff;
    -webkit-text-stroke: 1px #1a1a1aff; 
    animation-duration: 0.2s;
    padding-left: 0;
    padding-right: 0;
    
  }

  .nav-link:hover:before {
    content: "*";
    padding-right: 0.5rem;
  }

  .nav-link:hover:after {
    content: "*";
    padding-left: 0.5rem;
  }

  margin: auto;
  padding: 2rem 0 2rem 0;
  display: inline-flex;
  flex-direction: row;
  gap: 2rem;
}

#slider-landing {
  width: 100vw;
}

.glide__slides {
  padding: 0;
  margin: 0;
  width: 300vw;
}

.glide__slide {
  width: 110vw;
  margin-left: 0 !important;
  margin-right: 0 !important;

  img {
    transform: translateX(3vw);
    width: 100vw;
  }
}

.carousel-landing {
  width: 100vw;
  height: 60dvh;
  object-fit: cover;
}

.whapp-floating {
  position: fixed;
  z-index: 2;
  bottom: 2rem;
  right: 2rem;

}

.whapp-color {
  width: 50px;
  background-color: white;
  border-radius: 100%;
  border: 5px solid white;
  box-shadow: 0px 0px 15px black;
}

.acerca-de {
  height: 140vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;

  img {
    padding-bottom: 6rem;
  }

}

.acerca-de-descripcion {
  margin: auto;
  display: inline-flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  padding-top: 5rem;


  p {
    font-family: 'Menulis';
    width: 40vw;
    margin-right: 5rem;
  }
}

.acerca-de > img {
  width: 70vw;
  margin: auto;
  padding-top: 1rem;
}

.img-acerca {
  width: 40vw;
  z-index: 2;
}

.descripcion-acerca {
  h2 {
    padding-bottom: 2rem;
    font-family: 'Livvic';
  }
  padding-left: 2rem;
  border-left: 1px solid #1a1a1aff;
}

.productos {
  height: 115vh;
  width: 100vw;
  background-color: #1a1a1aff;
  color: #f9f9f9ff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h1 {
    font-family: 'Livvic';
    font-weight: bolder;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 6rem;
  }

  .productos-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
  }
}

.header-card {
  background-color:#f9f9f9ff;
  color: transparent;
  width: 20rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Livvic";
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  padding: 0.5rem;
}

.card-description {
  height: 350px;
  width: 20rem;
  display: flex;
  cursor: pointer;

  p {
    margin: auto;
  }

}

.polvos {
  background-image: url('../../../assets/img/card3.jpeg');

  p {
    display: none;
  }
}

.polvos:hover {
  background-image: url('../../../assets/img/card3difuminado.jpeg');

  p {
    display:flex;
    background-color: rgba(26, 26, 26, 0.93);
    padding: 1rem;
    border-radius: 5px;
  }
}

.extracto {
  background-image: url('../../../assets/img/card2.jpeg');
  
  p {
    display: none;
  }
}

.extracto:hover {
  background-image: url('../../../assets/img/card2difuminado.jpeg'); 

  p {
    display:flex;
    background-color: rgba(26, 26, 26, 0.93);
    padding: 1rem;
    border-radius: 5px;
  }
}

.micelio {
  background-image: url('../../../assets/img/card1.jpeg'); 

  p {
    display: none;
  }
}

.micelio:hover {
  background-image: url('../../../assets/img/card1difuminado.jpeg'); 

  p {
    display:flex;
    background-color: rgba(26, 26, 26, 0.93);
    padding: 1rem;
    border-radius: 5px;
  }
}

.img-productos {
  display: flex;
  width: 60vw;
  padding-top: 4rem;
  margin: auto;
  gap: 10vw;
  
}

.testimonios {
  height: 100vh;
  width: 100vw;

  h1 {
    font-family: 'Livvic';
    color: #f9f9f9ff;
    text-align: center;
    -webkit-text-stroke: 2px #1a1a1aff; 
    font-weight: bolder;
    padding-top: 2rem;
    margin-bottom: 4rem;
  }

  .glide2 {

    .glide__slides {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .glide__slide {
        background-image: url("../../../assets/img/cardtestimonios.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 500px;
        height: 350px;
        display: flex;
        opacity: 0.2;
        transition: 0.5s ease-in-out;
      }
    }

    div {
      width: 100vw;
    }

    div > ul {
      width: 100vw;
    }

    div > ul > li {

      padding-top: 10vh;
      width: 30vw;

    }

    div > ul > li {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      text-align: center;
      width: 300px;
      margin: auto;
    }

    div > ul > li > p{
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      text-align: center;
      width: 320px;
      margin: auto;
      transform: translateY(-2rem);
      font-family: "Menulis";
      font-weight: 600;
      font-size: 0.8rem;

      sub {
        text-align: center;
        transform: translateY(-1rem);
      }
    }

    div > ul > li > h6 {
      font-family: "Livvic";
      font-weight: bold;
      transform: translateY(-2rem);
    }
  }


}

.glide__slide--active {
  opacity: 1 !important;
}

.controls {
  width: 100vw;
  position: static;

}

  .arrow-btn {
    border: none;
    outline: none;
    width: 10vh;
    height: 10vh;
    color: #1a1a1aff;
    cursor: pointer;
    transform: translateY(-30vh);
  }

  #arrowright {
    margin-left: calc(100vw - 20vh); 
  }

  #arrowleft {
    margin-left: 10vh;
    transform: translateY(-20vh);
  }

  .asesoramiento-personalizado {
    width: 100vw;
    height: 120vh;
    background-color: #1a1a1aff;
    display: flex;
    flex-direction: column;
    color:#f9f9f9ff;

    p {
      padding-left: 10vw;
      padding-right: 10vw;
      font-family: 'Menulis';
      margin-bottom: auto;
      text-align: center;
    }
  }

  h1 {
    font-family: 'Livvic';
    font-weight: bold;
    color:#f9f9f9ff;
  }

  h1:nth-child(2) {
    -webkit-text-stroke: 2px #f9f9f9ff;
    color: #1a1a1aff;
  }

  .title {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 6rem;
  }

  .cta-btn {
    margin: auto;
    width: 20vh;
    height: 5vh;
    font-weight: 600;
    transform: translateY(3vw);
    img {
      height: 24px;
      width: 24px;

    }
    cursor: pointer;

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #1a1a1aff;
    border: none;


  }


  // SECCION IMAGEN SEPARADOR
.img-contacto {
  width: 300px;
  margin-left: 10rem;
}

.contacto-desc {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin-right: 10rem;
    margin-top: auto;
  }
}


  @media screen and (max-width: 730px) {

    .glide__slides {
      overscroll-behavior-x: none;
    }

    .nav {
      overflow: hidden;
    }

    .arrow-btn {
      display: none;
      animation: 0.5s;
    }

    .glide2 > .glide__track > .glide__slides > .glide__slide {
      transform: translateX(24vw);
    }

    .productos {

      .img-productos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .producto1, .producto2 {
          width: 80vw;
          margin-top: 5vh;
          margin-bottom: 5vh;
          height: 80vw;
        }
      }
    }
    
  }

  @media screen and (min-width: 1366px) {

    .glide2 > .glide__track > .glide__slides > .glide__slide {
      transform: translateX(32vw);
    }
    
    
  }

  .footer-pagina {
    display: inline-flex;
    width: 100vw;
    height: 40vh;
    justify-content: center;
    align-items: center;
    gap: 8rem;


    .logo-footer {
      width: 10vw;
      height: 10vw;
    }

    .rrss {
      width: 5vw;
      height: 5vw;
      animation: 0.2s ease-in-out;
    }

    .rrss:hover {
      transform: scale(1.2);
      height: 6vw;

    }
    
    sub {
  
      font-family: 'Menulis';
      color: rgba(26, 26, 26, 0.548);
    }

  }


  .glide2 {
    .glide__slides {
      .glide__slide {
        animation: 0.2s ease-in-out;
      }
    }
  }


  .glide__slide--active {
    transform: scale(1);
    opacity: 1;
    z-index: 4;
    animation: 0.2s ease-in-out;
  }

  @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { .selector {
    .glide__slide {
      margin: auto;
    }
  } }

  @media \\0 screen {
    .glide__slide {
      margin: auto;
    }
  }